# Main
Flask
Flask-CORS
openai

#wsgi
gunicorn

# Markitdown
azure-ai-documentintelligence
azure-identity
beautifulsoup4
charset-normalizer
mammoth
markdownify
numpy
olefile
openai
openpyxl
pandas
pathvalidate
pdfminer-six
puremagic
pydub
python-pptx
requests
speechrecognition
xlrd
youtube-transcript-api